# Node
node_modules/
apps/**/node_modules/
packages/**/node_modules/
.next/
dist/
out/

# Python
.venv/
__pycache__/
*.pyc
*.db
*.sqlite3

# OS / System
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Logs / Temp
*.log
*.bak
*.tmp

# Environment / Secrets
.env
.env.*
!.env.example
